
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
   margin: 0;
   padding: 0;
}
nav{
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
    display: flex;
    font-size: 18px;
    background-color: rgb(185, 195, 215);
    padding: 15px;
}
div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 23px;
    font-size: 23px;
}
nav ul li{
    list-style: none;
    margin: 0px 20px;
   
}
nav ul a{
    text-decoration: none;
    color: black;
    transition: all;
    transition-duration:500ms ;
}
nav ul a:hover{
    color: rgb(106, 143, 173);
}
nav ul{
    display: flex;
}
.container{
    min-height: 82vh;
    
    margin: auto;
    max-width: 80vw;
   
}
.container h1{
    text-align: center;
    margin: 23px 0;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container form label{
    font-size: 25px;
}
.container form input[type="number"],select{
    font-size: 22px;
    margin-bottom: 23px;
    width: 23vw;
}
.btn{
    width: 125px;
    padding: 4px 10px;
    font-size: 20px;
    background: rgb(142, 165, 201);
    border-radius: 12px;
    color: rgb(247, 243, 238);
    cursor: pointer;
}
.output table{
    font-size: 20px;
    width: 50vw;
    text-align: center;
    border: 2px solid black;
    justify-content: center;
    margin-top: 20px;
}
.output h2{
    margin-right: 377px;
    margin-top: 25px;
}
@media (max-width:600px) {
    nav{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:300px) {
    nav{
        flex-direction: column;
        align-items: center;
    }
}
.output{
    display: none;
}
footer{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}